body {
    min-width: 1100px;
    min-height: 600px;
    /* width: 1440px;
    height: 900px; */
    font-family: 'Roboto',
    sans-serif;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 700;
    margin: 0;
 }
 h3{
    font-size: 1.5em;
    margin-bottom: 1em;
 }
 h4{
    font-size: 1em;
 }
 .icon{
    cursor: pointer;
 }
 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
 
    padding: 1.7% 5.56% 0 2.23%;
 }
 
 .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 
 .aside-nav {
    height: 835px;
    width: 132px;
    background-color: #000;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    box-shadow: 20px 19px 20px 2px rgb(0 0 0 / 40%);
 }
 
 .nav {
    width: 50%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }
 
 .logo {
    color: #fff;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 64px;
    font-weight: 700;
 }
 
 .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
 }
 
 .nav-icon {
    width: 2em;
    height: 2em;
    fill: #fff;
 }
 .nav-icon:last-child{
    margin-bottom: 2em;
 }
 
 .nav-icon:hover {
    fill: #F45B5B;
 }
 
 .navigation-exit-link .nav-icon:hover {
    width: 30px;
    height: 30px;
    fill: red;
 }
 /* Navigation END */
 
 
 
 
 
 /* Main START */
 .main {
    width: 46.7%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
 }
 .main span{
    font-size: 0.8em;
 }
 .current-information {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-bottom: 2.5em;
 }
 /* greetings */
 .greetings-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 12em;
    margin-bottom: 1.5em;
 }
 .greetings{
    position: absolute;
    width: 100%;
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    align-items: center;
    height: 83.3%;
    
 }
 .greetings-text{
    margin-left: 5%;
    line-height: 2em;
 }
 .greetings-text h2{
    font-size: 2.25em;
 }
 .greetings-img{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    height: 95%;
 }
 /* greetings end */
 
 /* current-course */
 .current-course-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .course-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80.6%;
    height: 80px;
    background-color: #F5F5F7;
    border-radius: 14px;
 }
 .course-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .5em;
 }
 .course-img-container{
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 4em;
 }
 .course-img{
    height: 3em;
 }
 .course-name-text{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-left: 1em;
 }
 .course-condition{
    margin-left: .8em;
 }
 .course-condition img{
    height: 2.8em;
    position: relative;
 }
 .course-condition span{
    position: relative;
    font-size: 1em;
    left: -50%;
    top: -1.05em;
 }
 .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    outline: none;
    padding: .8em 1.8em;
    margin-right: 1em;
    font-size: 0.8em;
 }
 .btn:hover{
    background-color: #fff;
    color: #000;
    font-weight: 700;
 }
 .courses-navigation{
    display: flex;
    justify-content: space-around;
    width: 17%;
    padding-right: 1px;
 }
 .arrow{
    width: 40px;
    height: 40px;
    stroke: #000;
 }
 .arrow:hover{
    stroke: #F45B5B;
 }
 /* current-course end*/
 
 /* all-courses */
 .all-courses{
    display: flex;
    flex-direction: column;
 }
 .all-courses-header{
    display: flex;
    flex-direction: column;
    margin-bottom: .64em;
 }
 .courses-categories{
    display: flex;
    justify-content: space-between;
    width: 80%;
 }
 .category{
    text-decoration: none;
    color: #000;
    opacity: 0.3;
    font-size: 1em;
    font-weight: 700;
 }
 .category:hover,
 .category.active{
    opacity: 1;
 }
 
 .all-courses-wrapper{
    display: flex;
    flex-direction: column;
 }
 .all-courses-wrapper .course-info {
    width: 100%;
    margin-bottom: 1em;
 }
 .all-courses-wrapper .course-info .course-name{
    width: 43%;
 }
 .all-courses-wrapper .course-info .course-time{
    width: 15%;
 }
 .all-courses-wrapper .course-info > *{
    margin-right: 5px;
 }
 .course-time,
 .course-rating{
    display: flex;
    align-items: center;
 }
 .all-courses-wrapper .icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
 }
 /* Main END */
 
 
 
 
 /* Aside-statistic START*/
 .aside-statistic {
    width: 30.5%;
    margin-top: 2.4em;
 }
 /* .aside-statistic-header */
 .aside-statistic-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.48em;
 }
 .search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F7;
    border-radius: 8px;
    padding: .5em;
    width: 68%;
 }
 .search-container .icon{
  width: 21px;
  height: 21px; 
  fill: #000; 
 }
 .search-container .icon:hover{
    fill: #F45B5B;
 }
 .search-container input{
    border: none;
    background: none;
    width: 90%;
 }
 .notification{
    width: 31px;
    height: 36px;
 }
 .notification:hover {
    width: 30px;
    height: 30px;
 }
 .user-information-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
 }
 .user-information-container img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
 }
 .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .dropdown .icon{
    width: 10px;
    height: 25px;
    margin-left: 10px;
 }
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 1.5em;
 }
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 .dropdown-content a:hover {
    background-color: #f1f1f1
 }
 .dropdown:hover .dropdown-content {
    display: block;
 }
 /* aside-statistic-header end*/
 
 /* user-courses-info */
 .user-courses-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5em;
 }
 .amount{
    background: #F5F5F7;
    border-radius: 8px;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .amount h4{
    font-size: 5em;
    margin-right: 5%;
 }
 .amount p{
    width: 40%;
 }
 /* user-courses-info end */
 
 /* user-statistic */
 .user-statistic{
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1em;
 }
 .statistic-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
 }
 .statistic-options-links{
    display: flex;
    justify-content: space-between;
    width: 60%;
 }
 .statistic-options-links a{
    color: #000;
    text-decoration: none;
    opacity: .3;
    font-size: 1em;
    font-weight: 700;
 }
 .statistic-options-links a:hover,
 .statistic-options-links a.active{
    opacity: 1;
 }
 .statistic-options .dropdown{
    background-color: #F5F5F7;
    border-radius: 8px;
    padding: 9px 16px;
 }
 /* user-statistic end */
 
 /* premium */
 .premium{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5F5F7;
    border-radius: 8px;
    padding: 1.5em;
 }
 .premium-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .premium-info h3{
    margin-bottom: 0.5em;
 }
 .premium-info p{
    font-size: 1em;
 }
 .premium-info .btn{
    width: 60%;
    padding: 0.8em;
    margin-top: 2em;
 }
 .premium img{
    width: 80%;
 }
 /* premium end */
 
 
 
 /* Aside-statistic END*/
 