body {
    max-width: 1300px;
    min-width: 1300px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_colum {
    flex-basis: 60%;
    align-items: inherit;
}

.second_colum {
    flex-basis: 40%;
}

.title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #2C2C2C;
    margin-left: 58px;
}

.title_big {
    margin-bottom: 26px;
    margin-top: 44px;
}

.title_smal {
    margin-bottom: 26px;
}

.btn_big {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    border-radius: 5px;
    padding: 14px 36px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn_big:hover {
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.button_big_simple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 82%;
    margin-left: 60px;
}

.blue {
    color: #FFFFFF;
    background: #18A0FB;
    border: 1px solid #18A0FB;
}

.blue:hover {
    background: #67c9c9;
}

.gray {
    color: #878787;
    background: rgba(224, 224, 224, 0.3);
    border: 1px solid rgba(224, 224, 224, 0.3);
}

.gray:hover {
    background: rgba(143, 229, 255, 0.945);
}

.black {
    color: #2C2C2C;
    background: #fff;
    border: 1px solid #E0E0E0;
}

.black:hover {
    background: #ffb87e;
}

.transp {
    color: #18A0FB;
    background: #fff;
    border: 1px solid #18A0FB;
}

.transp:hover {
    background: #fabfff;
}

.button_big_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 82%;
    margin-left: 60px;
}

.iconDownload {
    width: 24px;
    height: 24px;
}

.btn_text_right {
    margin-right: 8px;
}

.blue {
    stroke: #FFFFFF;
}

.gray {
    stroke: #878787;
}

.black {
    stroke: #2C2C2C;
}

.transp {
    stroke: #18A0FB;
}

.big_dwnl {
    padding: 15px 20px;
}

.button_big_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
    width: 82%;
    margin-left: 60px;
}

.btn_text_left {
    margin-left: 8px;
}

.btn_smal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 24px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn_smal:hover {
    box-shadow: 5px 6px 14px 2px rgba(0, 0, 0, 0.62);
}

.button_smal_simple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 78%;
    margin-left: 77px;
}

.button_smal_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 78%;
    margin-left: 75px;
}

.smal_dwnl {
    padding: 10px 12px;
}

.iconDownloadSmal {
    width: 20px;
    height: 20px;
}

.button_smal_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 78%;
    margin-left: 75px;
}

.red {
    color: #FFFFFF;
    background: red;
    border: 1px solid red;
    stroke: #FFFFFF;
}

.red:hover {
    background: #a71313;
}

.tag {
    cursor: pointer;
    transition: all 0.3s linear;
}

.tag:hover {
    box-shadow: 5px 6px 14px 2px rgba(0, 0, 0, 0.62);
}

.tag_big_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-left: 61px;
    margin-bottom: 14px;
}

.tag_big {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    padding: 6px 15px 6px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray_t {
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    stroke: #878787;
}

.blue_t {
    background: #18A0FB;
    border: 1px solid #18A0FB;
    color: #FFFFFF;
    stroke: rgba(255, 255, 255, 0.7);
}

.cross {
    width: 7px;
    height: 7px;
    margin-left: 10px;
}

.tag_smal_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16%;
    margin-left: 61px;
}

.tag_smal {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    padding: 6px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray_t {
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
}

.tag_smal.gray_t {
    background: rgba(224, 224, 224, 0.3);
}

.blue_t {
    background: #18A0FB;
    border: 1px solid #18A0FB;
    color: #FFFFFF;
}

.search_kit_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 99px 0 24px 20px;
}

.left_blue {
    background: #18A0FB;
    border: 1px solid #18A0FB;
    color: white;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    cursor: pointer;
}

.left_blue:hover {
    background: #0f86d6;
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.midle_white {
    background: #FFFFFF;
    border: none;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0px;
    stroke: #2C2C2C;
    box-sizing: border-box;
    transition: all 0.3s linear;
    cursor: pointer;
}

.midle_white:hover {
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.right_white {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.right_white:hover {
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.search,
.dwnld {
    padding: 12px 16px;
}

.archive {
    padding: 12px 16px;
}

.iconArchive {
    stroke: #2C2C2C;
    width: 24px;
    height: 24px;
}

.iconMagnify {
    fill: white;
    width: 24px;
    height: 24px;
}

.tab_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 24px 20px;
}

.tab {
    padding: 14px 48px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.s_m_l_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 141px 20px;
}

.size {
    padding: 14px 48px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.tab_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 20px 20px;
}

.tab.tab2 {
    padding: 9px 24px;
}

.search_siricul_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.red_serch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 36px;
    height: 36px;
    background: #FF3E1D;
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.red_serch:hover {
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.red_serch .iconMagnify {
    width: 20px;
    height: 20px;
}

.green_serch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #00D200;
    border-radius: 29px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.green_serch:hover {
    box-shadow: 7px 8px 16px 3px rgba(0, 0, 0, 0.62);
}

.green_serch .iconMagnify {
    width: 24px;
    height: 24px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.magnifying_kit_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0 20px 20px;
}

.magnifying {
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.magnifying.iconMagnify {
    fill: white;
    width: 24px;
    height: 24px;
}

.magnifying.right_white>.iconMagnify,
.magnifying.midle_white>.iconMagnify {
    fill: #2c2c2c;
    stroke: none;
}

.sizeSmal.size {
    padding: 9px 24px;
}