doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="hw11.scss")
        title homework 11 
    body 
.first_colum
  h1.title.title_big Buttons Big
  .button_big_simple
    button.blue.btn_big Download
    button.gray.btn_big Download
    button.black.btn_big Download
    button.transp.btn_big Download
  .button_big_right
    button.blue.btn_big.big_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
    button.gray.btn_big.big_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
    button.black.btn_big.big_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
    button.transp.btn_big.big_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
  .button_big_left
    button.blue.btn_big.big_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.gray.btn_big.big_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.black.btn_big.big_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.transp.btn_big.big_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
      span.btn_text_left Download
  h1.title.title_smal Buttons Small
  .button_smal_simple
    button.blue.btn_smal Download
    button.gray.btn_smal Download
    button.black.btn_smal Download
    button.transp.btn_smal Download
  .button_smal_right
    button.blue.btn_smal.smal_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
    button.gray.btn_smal.smal_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
    button.black.btn_smal.smal_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
    button.transp.btn_smal.smal_dwnl
      span.btn_text_right Download
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
  .button_smal_left
    button.red.btn_smal.smal_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.gray.btn_smal.smal_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.black.btn_smal.smal_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
      span.btn_text_left Download
    button.transp.btn_smal.smal_dwnl
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownloadSmal
        use(xlink:href='#Download')
      span.btn_text_left Download
  .tag_big_container
    button.tag.tag_big.gray_t
      | Tag 
      svg.hidden(width='0', height='0')
        symbol#1544641784(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 25')
          g(transform='translate(3.966 3.568)')
            path(d='M0-.001l17.435 18.213M0 18.212L17.435 0', stroke-width='3.232', stroke-linecap='round')
      svg.cross
        use(xlink:href='#1544641784')
    button.tag.tag_big.blue_t
      | Tag 
      svg.hidden(width='0', height='0')
        symbol#1544641784(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 25')
          g(transform='translate(3.966 3.568)')
            path(d='M0-.001l17.435 18.213M0 18.212L17.435 0', stroke-width='3.232', stroke-linecap='round')
      svg.cross
        use(xlink:href='#1544641784')
  .tag_smal_container
    button.tag.tag_smal.gray_t Tag 
    button.tag.tag_smal.blue_t Tag 
.second_colum
  .search_kit_container
    button.search.left_blue
      svg.hidden(width='0', height='0')
        symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
      svg.iconMagnify
        use(xlink:href='#Search')
    button.dwnld.midle_white
      svg.hidden(width='0', height='0')
        symbol#Download(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M4 12v7h16v-7m-8-8.5v10m0 0l3.375-3.374M12 13.5l-3.375-3.374', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      svg.iconDownload
        use(xlink:href='#Download')
    button.archive.right_white
      svg.hidden(width='0', height='0')
        symbol#Archive(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(d='M15 12.51h.5v-2h1v2.5c0 .277-.223.5-.5.5H8a.5.5 0 01-.5-.5v-2.5h1v2H15z')
          path(d='M2.922 6.309l-.013-.01 2.4-3.192.001-.001a1.506 1.506 0 011.198-.597h11c.471 0 .922.226 1.202.603h0l2.395 3.204-.012.01.294.394c.08.109.113.203.113.29v11c0 .827-.673 1.5-1.5 1.5H4c-.827 0-1.5-.673-1.5-1.5v-11c0-.088.033-.183.115-.292l.307-.41zM6.508 3.51h-.25l-.15.2-1.504 2-.602.8h15.999l-.598-.8-1.494-2-.15-.2H6.508zM3.5 18.01v.5h17.002v-.5l-.002-10v-.5h-17v10.5z', fill='#2C2C2C', stroke='#2C2C2C')
      svg.iconArchive
        use(xlink:href='#Archive')
  .tab_container
    button.tab.left_blue Tab 1
    button.tab.right_white Tab 1
  .s_m_l_container
    button.size.left_blue  S 
    button.size.midle_white M
    button.size.right_white L
  .row
    .tab_container.tab2_container
      button.tab.tab2.left_blue Tab 1
      button.tab.tab2.right_white Tab 2
    .search_siricul_container
      buttin.red_serch
        svg.hidden(width='0', height='0')
          symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
        svg.iconMagnify
          use(xlink:href='#Search')
      button.green_serch
        svg.hidden(width='0', height='0')
          symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
        svg.iconMagnify
          use(xlink:href='#Search')
  .magnifying_kit_container
    button.magnifying.left_blue
      svg.hidden(width='0', height='0')
        symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
      svg.iconMagnify
        use(xlink:href='#Search')
    button.magnifying.midle_white
      svg.hidden(width='0', height='0')
        symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
      svg.iconMagnify
        use(xlink:href='#Search')
    button.magnifying.right_white
      svg.hidden(width='0', height='0')
        symbol#Search(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M11 7a4 4 0 100 8 4 4 0 000-8zm-6 4a6 6 0 1110.89 3.476l3.817 3.817a1 1 0 01-1.414 1.414l-3.816-3.816A6 6 0 015 11z')
      svg.iconMagnify
        use(xlink:href='#Search')
  .s_m_l_container
    button.sizeSmal.size.left_blue  S 
    button.sizeSmal.size.midle_white M
    button.sizeSmal.size.right_white L
